img {
  display: block;
  width: 297px;
  height: auto;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.moviesItem {
  max-width: 300px;
  margin: 15px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
}

.text {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}
